@import "style.css";

.wrapper {
    background: rgba(255, 193, 151, 0.19);
}

.land-text {
    font-size: 96px;
}

.product-carousel {
    color: #53B0EE;
}

.land-desc {
    font-size: 48px;
    font-weight: 500;
    color: var(--title-color);
}

.btn-talk {
    padding: 16px 60px;
    width: 40%;
    background: #0E538C;
}

.build {
    padding: 40px 0
}

.build .title {
    color: var(--main-text-color);
}

.build .title-desc {
    line-height: 30px;
    color: var(--main-text-color);
}

.build__card_container {
    margin-top: 80px;
}

.build__card_icon {
    background: var(--background-color);
    border-radius: 50%;
    height: 130px;
    width: 130px;
}

.build__card_desc {
    text-align: center;
}

.build__card_desc .title-underdesc {
    font-size: 15px;
}

.small {
    padding: 50px 0;
}

.small .title {
    font-size: 42px;
}

.small .title-desc {
    padding: 0 22%;
    color: #979797;
    line-height: 48px;
}

.small__cards_grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0 80px;
}

.small__card {
    box-shadow: 10px 10px 30px 20px #F5F5F5;
    border-radius: 20px;
    padding: 27px 30px 30px 40px;
}

.small__card_1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.small__card_2 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.small__card_3 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}


.small__card_icon {
    margin-left: 10px;
    height: 77px;
    width: 77px;
    border-radius: 6px;
}

.small__card_1 .small__card_icon {
    background: #F7ECDE;
}

.small__card_2 .small__card_icon {
    background: rgba(248, 87, 94, 0.22);
}

.small__card_3 .small__card_icon {
    background: rgba(139, 187, 198, 0.6);
}

.small__card_title-text {
    font-size: 24px;
    color: var(--link-color);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.small__card_desc .title-underdesc {
    color: rgba(0, 0, 0, 0.4);
}

.deliver {
    padding: 50px 0;
}

.deliver__wrapper {
    border-radius: 20px;
    margin-top: 80px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.deliver__adv_wrapper {
    padding: 20px 20px 20px 0;
}

.deliver__title-text {
    font-weight: 600;
    font-size: 24px;
    color: var(--title-color);
}

.deliver__desc-text {
    font-size: 16px;
    line-height: 24px;
}

.mt-6 {
    margin-top: 5rem;
}

.steps {
    padding: 50px 0 100px;
}

.card-row_step {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 24px;
}

.step__card-row_text {
    padding: 30px 65px 0;
}

.step__card-row_title {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: var(--title-color);
}

.step__card-row_mark img {
    margin-right: .75rem;
}

.step__card-row_mark-text {
    font-size: 16px;
    color: #343434;
}

.bigline {
    position: absolute;
    top: -20px;
    right: 0;
    height: 1480px;
    width: 4px;
}


.disting {
    padding: 50px 0;
}

.disting__cards {
    display: flex;
}

.disting__card {
    box-shadow: 0 10px 30px 0 #2639ED29;
    border-radius: 14px;
    padding: 35px 20px 35px 0;
}

.disting__card_img {
    /*margin-left: 2rem;*/
    /*margin-right: 2rem;*/
    padding: 0 40px;
}

.disting__card_title-text {
    color: #0A093D;
}

.register-biz {
    padding: 60px 0;

}

.container-biz {
}

.bg-grad1 {
    padding: 60px 0;
    border-radius: 12px;
    height: 500px;
    width: 100%;
    background: linear-gradient(135deg, rgba(223, 231, 243, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(189, 213, 239, 1) 100%);
    overflow: hidden;
    position: relative;
}

.bg-grad2 {
    position: absolute;
    top: -100%;
    right: -100%;
    height: 200%;
    width: 200%;
    background: radial-gradient(circle, rgb(235, 197, 211) 0%, rgba(255, 255, 255, 0) 60%);
}

.grad-content {
    position: absolute;
    right: 0;
    top: 15%;
    height: 50%;
    width: 100%;
}



.title-biz {
    font-size: 46px;
    line-height: 62px;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-btns-biz .btn-start {
    padding: 25px 80px;
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 2rem;
}

.container-btns-biz .btn-sign {
    margin-left: 2rem;
    border: 1px solid #0E538C;
    font-size: 24px;
    padding: 25px 100px;
    color: #0E538C;
}